:root{
	--foreground-color: #494949;
	--foreground-secondary-color: #BFBFBF;
	--foreground-third-color: white;

	--background-color: #232323;

	--first-color: #C4FF61;
	--secondary-color: #B3CB80;
	--third-color: #2C2C2C;
	--fourth-color: #161616;

	--wrapper-width: 1250px;
}
